#background {
    background-image: url(../images/background.jpg);
    height: 75vh;
  }

  #background2 {
    background-image: url(../images/background2.jpg);
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    
  }

  #background3 {
    background-image: url(../images/background3.jpg);
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    opacity: 0.2; 
    
  }


  @media (min-width: 992px) {
    #background {
      margin-top: -58.59px;
    }
  }

  #welcometext{
      
      font-style:italic;
      font-size: x-large;
      text-align: center;      
  }  

  .red-btn {
    background-color:maroon;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
        
  }

   .card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
} 

.checkbox {
    vertical-align: bottom;
}



.login-form-control {
  width:170px;
}

.contact-text-container{
  background-color:darkgrey;
  width: 33%;
  
}

.login-container{
  background-color:whitesmoke;
  width: 40%;
  
}

